@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Nandoso Restaurant<br />
    Jason Street<br />
    Mount Eden<br />
    Auckland 1010 <br />
    <abbr title="Phone">P:</abbr>
    0210154510
</address>

<address>
    <strong>Enquiry:</strong>   <a href="mailto:Enquiry@example.com">Enquiry@example.com</a><br />
</address>