@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Nandoso Restaurant</h1>
    <p class="lead">Nandoso Restaurant is known for its range of flame-grilled chicken and Pita breads!</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>About Us</h2>
        <p>
            Firing up!!
            The Nandoso cockerel landed on the fair shores of Aotearoa in December 1990 and New Zealand discovered 
            a new flavour sensation for a new millennium. It didn't take long for the word to get around or for the 
            people of Auckland to get addicted to spicing things up with a fix of flame-grilled PERi-PERi chicken. 
            Not surprisingly really - Kiwis have always had a passion for great natural produce and big bold flavours. 
        </p>
    </div>
   
    <div class="col-md-6">
        <h2>The Nandoso Peri-Peri Story</h2>
        <p>While we’re not going to give you the exact recipe, we’re happy to let you in on a couple of secrets. 
        We are a PERi-PERi sauce, and not just another hot sauce.We start off by cooking our fresh ingredients 
        instead of fermenting chillies (a process used to make most other hot sauces).</p>
    </div>
</div>